
ul {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
}
a {
    text-decoration: none;
    font-size: large;
    color: white;
}

li{
    list-style-type: none;
    display: inline;
}